---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<div style="border-top: 3px solid black;"></div>
<div style="background-color: #e5e5e5; height: 1em; margin-bottom: 1.2em;"></div>

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{https://scholar.google.com/citations?user=mHb_lpAAAAAJ&hl=zh-CN}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Journal Paper</h2>
<div style="border-top: 3px solid black;"></div>
<div style="background-color: #e5e5e5; height: 1em; margin-bottom: 1.2em;"></div>


<div style= "text-align": justify>
  <u1>
    <li>Wang, Z., Xu, G., Sun, R., Zhou, A., Cook, A., & <b>Chen, Y.</b> (2025). Online energy consumption forecast for battery electric buses using a learning-free algebraic method. Scientific Reports, 15(1), 1931.<a href="https://www.nature.com/articles/s41598-024-82432-5">DOI</a></li><br>
    <li>Adebajo, K., Anthony, G., Peskar, J., Downey, A. R., <b>Chen, Y.</b>, & Hu, C. (2025). Impact of Charging Rate and State of Charge on Electric Aircraft Battery Degradation Using a Multi-Domain Model With Realistic Southeastern US Flight Paths. In AIAA SCITECH 2025 Forum (p. 2705).<a href="https://arc.aiaa.org/doi/abs/10.2514/6.2025-2705">DOI</a></li><br>
    <li>Zhu, G., <b>Chen, Y.</b>, & Zheng, J. (2024). Partially autonomous vehicles (PAVs) vs. fully autonomous vehicles (FAVs): A comparative study with adoption models. Technology in Society, 79, 102698.<a href="https://www.sciencedirect.com/science/article/pii/S0160791X2400246X">DOI</a></li><br>
    <li>Sun, R., Luo, Q., & <b>Chen, Y.</b> (2024). Optimizing dynamic wireless charging for electric buses: A data-driven approach to infrastructure planning. Applied energy, 373, 123912.<a href="https://www.sciencedirect.com/science/article/pii/S0306261924012959">DOI</a></li><br>
    <li>Wu, X., <b>Chen, Y.</b>, & Qian, Y. (2024). Integrating Railroad Crossing Blockage Information in First Responder Dispatching Route Planning. Journal of Transportation Engineering, Part A: Systems, 150(4), 04024008.<a href="https://ascelibrary.org/doi/full/10.1061/JTEPBS.TEENG-7925">DOI</a></li><br>
    <li>Ding, C., <b>Chen, Y.</b>, & Mohamed, M. (2024). Applying machine learning to model and estimate environmental impacts of transportation. Transportation Research Part D: Transport and Environment, 126, 104042.<a href="https://www.sciencedirect.com/science/article/pii/S136192092300439X">DOI</a></li><br>
    <li>Wu, X., Zhang, Y., & <b>Chen, Y.</b> (2023). A dynamic programming model for joint optimization of electric drayage truck operations and charging stations planning at ports. IEEE Transactions on Intelligent Transportation Systems, 24(11), 11710-11719.<a href="https://ieeexplore.ieee.org/abstract/document/10164653">DOI</a></li><br>
    <li>Sun, R., Luo, Q., & <b>Chen, Y.</b> (2023). Online transportation network cyber-attack detection based on stationary sensor data. Transportation research part C: emerging technologies, 149, 104058.<a href="https://www.sciencedirect.com/science/article/pii/S0968090X23000475">DOI</a></li><br>
    <li><b>Chen, Y.</b>, Wu, X., Hu, K., & Borken-Kleefeld, J. (2023). Nox emissions from diesel cars increase with altitude. Transportation Research Part D: Transport and Environment, 115, 103573.<a href="https://www.sciencedirect.com/science/article/pii/S1361920922003996">DOI</a></li><br>
    <li>Sun, R., Wu, X., & <b>Chen, Y.</b> (2022). Assessing the impacts of ridesharing services: An agent-based simulation approach. Journal of Cleaner Production, 372, 133664.<a href="https://www.sciencedirect.com/science/article/pii/S0959652622032425">DOI</a></li><br>
    <li>Wang, S., Wu, X., & <b>Chen, Y.</b> (2021). Association between perceived transportation disadvantages and opportunity inaccessibility: A social equity study. Transportation Research Part D: Transport and Environment, 101, 103119.<a href="https://www.sciencedirect.com/science/article/pii/S1361920921004144">DOI</a></li><br>
    <li><b>Chen, Y.</b>, Zhang, Y., & Sun, R. (2021). Data-driven estimation of energy consumption for electric bus under real-world driving conditions. Transportation Research Part D: Transport and Environment, 98, 102969.<a href="https://www.sciencedirect.com/science/article/pii/S1361920921002674">DOI</a></li><br>
    <li>Zhang, Y., <b>Chen, Y.</b>, Sun, R., Huynh, N., & Comert, G. (2021). A surrogate approach for estimating vehicle-related emissions under heterogenous traffic conditions. Journal of the Air & Waste Management Association, 71(6), 778-789.<a href="https://www.tandfonline.com/doi/full/10.1080/10962247.2021.1901794">DOI</a></li><br>
    <li>Sun, R., <b>Chen, Y.</b>, Dubey, A., & Pugliese, P. (2021). Hybrid electric buses fuel consumption prediction based on real-world driving data. Transportation Research Part D: Transport and Environment, 91, 102637.<a href="https://www.sciencedirect.com/science/article/pii/S1361920920308221">DOI</a></li><br>
    <li>Zhu, G., <b>Chen, Y.</b>, & Zheng, J. (2020). Modelling the acceptance of fully autonomous vehicles: A media-based perception and adoption model. Transportation research part F: traffic psychology and behaviour, 73, 80-91.<a href="https://www.sciencedirect.com/science/article/pii/S1369847820304411">DOI</a></li><br>
    <li><b>Chen, Y.</b>, & Melaina, M. (2019). Model-based techno-economic evaluation of fuel cell vehicles considering technology uncertainties. Transportation Research Part D: Transport and Environment, 74, 234-244.<a href="https://www.sciencedirect.com/science/article/pii/S1361920918312562">DOI</a></li><br>
    <li><b>Chen, Y.</b>, Gonder, J., Young, S., & Wood, E. (2019). Quantifying autonomous vehicles national fuel consumption impacts: A data-rich approach. Transportation Research Part A: Policy and Practice, 122, 134-145.<a href="https://www.sciencedirect.com/science/article/pii/S0965856417300800">DOI</a></li><br>
    <li>Stern, R. E., <b>Chen, Y.</b>, Churchill, M., Wu, F., Delle Monache, M. L., Piccoli, B., ... & Work, D. B. (2019). Quantifying air quality benefits resulting from few autonomous vehicles stabilizing traffic. Transportation Research Part D: Transport and Environment, 67, 351-365.<a href="https://www.sciencedirect.com/science/article/pii/S1361920918304383">DOI</a></li><br>
    <li>Zhang, D., Zhan, Q., <b>Chen, Y.</b>, & Li, S. (2018). Joint optimization of logistics infrastructure investments and subsidies in a regional logistics network with CO2 emission reduction targets. Transportation Research Part D: Transport and Environment, 60, 174-190.<a href="https://www.sciencedirect.com/science/article/pii/S1361920916000286">DOI</a></li><br>
    <li>Chen, Y., Zhu, L., Gonder, J., Young, S., & Walkowicz, K. (2017). Data-driven fuel consumption estimation: A multivariate adaptive regression spline approach. Transportation Research Part C: Emerging Technologies, 83, 134-145.<a href="https://www.sciencedirect.com/science/article/pii/S0968090X17302048">DOI</a></li>
  </u1>
</div>


<h2>Conference Paper</h2>
<div style="border-top: 3px solid black;"></div>
<div style="background-color: #e5e5e5; height: 1em; margin-bottom: 1.2em;"></div>


<div style= "text-align": justify>
  <u1>
    <li>Sun, R., Gui, R., Neema, H., <b>Chen, Y.</b>, Ugirumurera, J., Severino, J. & Dubey, A. (2021, August). TRANSIT-GYM: A simulation and evaluation engine for analysis of bus transit systems. In 2021 IEEE International Conference on Smart Computing (SMARTCOMP) (pp. 69-76). IEEE.<a href="https://ieeexplore.ieee.org/abstract/document/9556290">DOI</a></li><br>
    <li>Zhu, L., Garikapati, V., <b>Chen, Y.</b>, Hou, Y., Aziz, H. A., & Young, S. (2018, July). Quantifying the mobility and energy benefits of automated mobility districts using microscopic traffic simulation. In International Conference on Transportation and Development 2018 (pp. 98-108). Reston, VA: American Society of Civil Engineers.<a href="https://ascelibrary.org/doi/abs/10.1061/9780784481530.010">DOI</a></li><br>
    <li>Zhu, L., Chiu, Y. C., & <b>Chen, Y.</b> (2017). Traffic analysis network abstraction approach: Framework and numerical analysis (No. 17-00721).<a href="https://trid.trb.org/View/1437331">DOI</a></li><br>
    <li><b>Chen, Y.</b>, & Borken-Kleefeld, J. (2016). How stable is the emission control system of light-duty diesel vehicles?-Results from long-term on-road measurements in Europe (No. 16-4178).<a href="https://trid.trb.org/View/1393564">DOI</a></li><br>
    <li><b>Chen, Y.</b>, Zhang, Y., & Fan, Y. (2016). Will Learning-by-doing Effect Lead California to A Low Carbon Transportation Fuel System?–A Dynamic Programming Approach (No. 16-4122).<a href="https://trid.trb.org/View/1393543">DOI</a></li><br>
    <li><b>Chen, Y.</b>, & Borken-Kleefeld, J. (2015). Gasoline Passenger Car Emission Deterioration-Results from Long-Term High Volume On-Road Measurements in Europe (No. 15-3209).<a href="https://trid.trb.org/View/1337981">DOI</a></li>
  </u1>
</div>    

    

    




